 .where-to-buy {
    border: 2px dashed #f5f5f5;
    padding: 4px 12px;
    margin-top: 12px;
    border-radius: 10px;
     text-align: center;
     width: 280px;
}

 .where-to-buy  .where-to-buy-logo {
     width: 5%;
 }
 .where-to-buy  .title {
     font-weight:bold;
     padding: 5px;
 }