
  .select-category{
    margin-bottom: 5px;


  .tab-title {
    text-align: center;
    padding: 8px 10px;
    color: #fff;
    display: block;
    font-weight: bold;
    background: #13213C
}

  a {
    color: #428bca;
    font-size: 16px
}

  .title {
    background: linear-gradient(#676767, #2B2B2B);
    text-align: center;
    padding: 4px 10px;
    font-size: 20px;
    color: #FFF;
    margin-bottom: 3px;
    border-radius: 5px
}

  a {
    color: #428bca;
    display: block;
    text-decoration: none;
    padding: 12px;
    cursor: pointer;
    line-height: 16px;
    border-bottom: solid 1px #C2DEEC;
    
}

  .l1 {
    border: solid 1px #C2DEEC;
    margin: 0px;
    padding: 0px;
    list-style: none
}

  .l2 {
    /* display: none */
    padding-left: 0px;
    background:  #fafafa;
    margin: 5px;
    a {
        color: #333;
    }
}

 

  .tab-title1,   .tab-title2 {
    text-align: center;
    padding: 8px 10px;
    color: #fff;
    display: block;
    font-weight: bold;
    background: #0B1B39;
    margin: 0px
}
  }