.header-section {
  // border: solid 1px #fff;
  margin-bottom: 30px;
  .page-title {
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 28px;
  }

  .profile-ds {
    width: 250px;
    height: 55px;
    background: rgba(42, 45, 62, 1);
    opacity: 1;
    position: absolute;
    top: 30px;
    right: 30px;
    border-radius: 12px;
  }

  .profile-icon {
    width: 45px;
    height: 45px;
    background: url(../images/v15_504.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 12px;
    margin-right: 10px;
  }
  .item {
    padding: 5px;
    display: flex;
    align-items: center;
  }
  .label {
    width: 100px;
    color: rgba(255, 255, 255, 1);
    font-weight: Medium;
    font-size: 16px;
  }
  .arraw-down {
    width: 24px;
    height: 24px;
    background: rgba(255, 255, 255, 1);
  }
}
