
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: #F5F5F5;
  font-family: 'Lato', sans-serif;
  color: #000000;
  border-top: solid 1px #ffffff;
  margin-top: -1px;

}

h1 {
  font-size: 48px;
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 2.0em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.4em;
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
  color: #464545;
}

a {
  text-decoration: none;
}

img {
  max-height: 100%;
  height: auto;
  border: 0;
}

.container {
  margin: 0 auto;
  max-width: 1260px;
  width: 95%;
}