// @import "vendor-information";

$themeBgColor: #000;
$themeSectionBgColor: #000;
$fontColor: #2a2d3e;
$componentBgColor: #2a2d3e;





$themeWidth: 1250px;
$themePath: "images";
$themeFontPath: "fonts/";
$bodyBg: #e9e9e9;
$wBg: #ffffff;

//$baseColor:#D13E29;
//$baseColor:#769e2d;
//$baseColor:#5b9fd9;
$baseColor: #8bc34a;
$commonText: #333333;
//$baseColor2:darken($baseColor,15);
//$baseTextColor:#333333;
$price: #f6882e;
$price2: #f6882e;
//$price:#FF6600;
$borderColor: #f0f0f0;
$filterColor: #369bc9;
$fontSize: 12px;
$black: #303030;

// @import "vendor-information";
//@import "../marketPlaceExpand/compiler/base/variables";
//@import "../element/compiler/base/variables";
