@mixin product($col) {
    @if $col == 1 {
      width: 100%;
      @include media(500){
        width: 80%;
        margin: 0px auto;
        border: none;
      }
    }
    @else if $col == 2 {
      width: 50%;
      @include media(500){
        width: 80%;
      }
    }
    @else if $col == 3 {
      width: 33.3%;
      @include media(phone){
        width: 50%;
      }
    }
    @else if $col == 4 {
      width: 25%;
      @include media(900){
        width: 33.3%;
        border: none;
      }
      @include media(phone){
        width: 50%;
      }
      @include media(500){
        width: 95%;
        margin: 0px auto;
        max-width: 300px;
      }
    }
    @else if $col == 5 {
      width: 20%;
      @include media(tab){
        width: 33.3%;
      }
      @include media(phone){
        width: 50%;
      }
    }
    @else if $col == 6 {
      width: 16.6%;
      @include media(tab){
        width: 20%;
      }
    }
    &:nth-child(#{$col}+1) {
      //@extend %right-border-none;
      border-right: none;
    }
    &:nth-child(#{$col}n) {
      //@extend %right-border-none;
      border-right: none;
    }
    &:nth-child(n+#{$col}) {
      //@extend %bottom-border-none;
      border-bottom: none;
    }
    &:nth-child(-n+#{$col}) {
      //@extend %top-border-none;
      //border-top: none;
    }
  @content;
  }
