
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(#{$themeFontPath}glyphicons-halflings-regular.eot);
  src: url(#{$themeFontPath}glyphicons-halflings-regular.eot?#iefix) format("embedded-opentype"), url(#{$themeFontPath}glyphicons-halflings-regular.woff) format("woff"), url(#{$themeFontPath}glyphicons-halflings-regular.ttf) format("truetype"), url(#{$themeFontPath}glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format("svg")
}

