.nav-bar {
  display: block;
}
.nav-bar {
  //background: #fff;
  //float: right;
  //margin-top: 12px;
  //position: absolute;
  //top: 39px;
  //width: 100%;
  //display: none;
}

#cssmenu ul li {
  display: block;
  float: none;
}

.nav-bar {
  float: right;
  margin: 22px 0px;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#cssmenu #menu-button {
  display: none;
}

#cssmenu {
  width: auto;
  line-height: 1;
}

#menu-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
}

#cssmenu ul li {
  float: left;
}

#cssmenu.align-center ul {
  font-size: 0;
  text-align: center;
}

#cssmenu.align-center ul li {
  display: inline-block;
  float: none;
}

#cssmenu.align-center ul ul {
  text-align: left;
}

#cssmenu.align-right ul li {
  float: right;
}

#cssmenu.align-right ul ul {
  text-align: right;
}

#cssmenu ul li a {
  color: #252526;
  font-size: 13px;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.2s ease 0s;
  font-weight: 600;
  //margin-right: 5px !important;
}



#cssmenu ul li a:last-child {
  margin-right: 0;
}

#cssmenu ul li.has-sub a {
  padding-right: 25px;
}

#cssmenu ul li.has-sub a::after {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  content: "";
  height: 4px;
  position: absolute;
  right: 10px;
  top: 21px;
  transform: rotate(45deg);
  transition: border-color 0.2s ease 0s;
  width: 4px;
}

#cssmenu ul li.has-sub:hover a::after {
  border-color: #8bc200;
}

#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}

#cssmenu li:hover ul {
  left: auto;
}

#cssmenu.align-right li:hover ul {
  right: 0;
}

#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}

#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}

#cssmenu ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
}

#cssmenu ul li:hover ul li {
  height: 32px;
}

#cssmenu ul ul li a {
  padding: 10px 20px;
  width: 160px;
  font-size: 12px;
  background: #333333;
  text-decoration: none;
  color: #dddddd;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

#cssmenu ul ul li:hover a,
#cssmenu ul ul li a:hover {
  color: #ffffff;
}

#cssmenu ul ul li.has-sub a::after {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}

#cssmenu.align-right ul ul li.has-sub a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}

#cssmenu ul ul li.has-sub:hover a::after {
  border-color: #ffffff;
}
.right-header {
  li {
    a {
      background:none;
      @include media(1024) {
        padding: 10px 8px;
        border-radius: 6px;
        position: relative;
        &:before {
          content: '';
          border-radius: 50%;
          width: 5px;
          height: 5px;
          display: inline-block;
          border: solid 2px #4daa46;
          margin-right: 10px;
        }
      }
    }
    &:hover,&.active {
      a {
        @include mediaMin(1024) {
          color: #fff;
          background: #50b848;
        }
        @include media(1024){
          background: #d5e9bd;
          &:before {
            border: solid 2px #FF0000;
          }
        /*  &:after {
            content: '';
            width: 5px;
            height: 2px;
            background: #FF0000;
            border: solid 2px #f00;
            position: absolute;
            left: 6px;
            top: 6px;
          }*/
        }
      }
    }
  }

  &.selected {
    position: absolute;
    top: 55px;
    right: -6px;
    width: 320px;
    display: flex;
    z-index: 9;
    background: #f2f2f2;
    border: solid 2px #f2f2f2;
    li {
      width: 100%;
      float: none;
    }
  }
}