.menu-icon {
  //border: solid 1px #f00;
  width: 50px;
  height: 50px;
  position: absolute;
  background: #f2f2f2;
  top: 6px;
  right: -6px;
  z-index: 999;
  @include mediaMin(1025){
    display: none;
  }
  .centered {
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    display: block;
    width: 26px;
    height: 16px;
    cursor: pointer;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 0;

    .hamburger__bar {
      display: block;
      position: absolute;
      height: 1px;
      background-color: #262633;
      left: 0;
      right: 0;
      -webkit-transform: rotate(0deg) scaleX(1) translateY(0);
      transform: rotate(0deg) scaleX(1) translateY(0);
      -webkit-transition: .3s linear;
      transition: .3s linear;
      -webkit-transform-origin: left center;
      transform-origin: left center;
      top: 7.5px;
      border-radius: 1px;
      &:first-child {
        top: 0;
        -webkit-transform-origin: left top;
        transform-origin: left top;
      }
      &:last-child {
        top: 15px;
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
      }
    }
  }
  &.selected {
    .hamburger__bar {
      &:first-child {
        transform: translateX(6px) rotate(45deg) scaleX(.82465);
      }
      &:nth-child(2) {
        transform: translateX(-50%);
        opacity: 0;
      }
      &:last-child {
        transform: translateX(6px) rotate(-45deg) scaleX(.82465);
      }
    }
  }
}
.offset-layer {
  display: none;
  &.active-menu {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.1);
    /* z-index: 1; */
    top: 0px;
  }
}
.right-header{
  &.selected {
    display: block;
  }
}