
{% extends 'base.html' %}
{% block title %} 404 - Page Not Found || Wempro {% endblock %}
{% block style %} <style> 
 
 

</style>
<link rel="stylesheet" href="/static/css/home.css"/> 
{% comment %} <link rel="stylesheet" href="{% static 'css/home.css' %}"> {% endcomment %}
{% endblock %}
{% block script %}<script>
  
</script> {% endblock %}


{% block content %}
<div class="404-page">

    <div style="text-align: center; padding: 20px; font-family: sans-serif;">
    <h1 style="font-size: 80px; color: #0056b3;">404</h1>
    <h2>Flow Interrupted!</h2>
    <p>The page you are looking for has been diverted or doesn't exist.</p>
    
    <div style="margin-top: 30px;">
        <a href="/" style="padding: 10px 25px; background: #0056b3; color: white; text-decoration: none; border-radius: 5px;">Return to Homepage</a>
        <a href="/products" style="margin-left: 10px; padding: 10px 25px; border: 1px solid #0056b3; color: #0056b3; text-decoration: none; border-radius: 5px;">View Our Pumps</a>
    </div>
    <br>
    <br>
    <br>
</div>

<h3 class="title">Micro Pumps Popular Series </h3>
<div class="product-list series-area">

 
 
  <div class="product" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
         
        <a itemprop="url" href="/category/db-380a" class="photo">
          <img itemprop="image" src="https://s3.amazonaws.com/zcom-media/sites/a0i0L00000VJ0SJQA1/media/mediamanager/DB-380.A_new.png" alt="DB-380.A" title="DB-380.A"></a>
          <h2 itemprop="name" class="title">
            <a itemprop="url" href="/category/db-380a" class="url" title="DB-380.A"> DB-380.A </a></h2>
        <p itemprop="description" class="description"></p><ul>            
            <li><span style="font-size: 16px;">A-Mount</span></li>
            <li><span style="font-size: 16px;">DC Drives, Brushless</span></li>
            <li><span style="font-size: 16px;">Speed: 500 - 4600 RPM</span></li>
            <li><span style="font-size: 16px;">Power Source: 24 VDC</span></li>
            <li><span style="font-size: 16px;">Compatible Pump Head: <br> GA, GB, GJ</span></li>
        </ul><p></p>
        <a itemprop="url" href="/category/db-380a" class="more" title="DB-380.A"> More Details</a>
        
        
    </div>
    
 
  <div class="product" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
         
        <a itemprop="url" href="/category/dp-415aa" class="photo">
          <img itemprop="image" src="https://s3.amazonaws.com/zcom-media/sites/a0i0L00000VJ0SJQA1/media/mediamanager/DP-415A.A_new.png" alt="DP-415A.A" title="DP-415A.A"></a>
          <h2 itemprop="name" class="title">
            <a itemprop="url" href="/category/dp-415aa" class="url" title="DP-415A.A"> DP-415A.A </a></h2>
        <p itemprop="description" class="description"></p><ul>            
            <li><span style="font-size: 16px;">A-Mount</span></li>
            <li><span style="font-size: 16px;">AC Drives, Universal</span></li>
            <li><span style="font-size: 16px;">Speed: 500 - 9000 RPM</span></li>
            <li><span style="font-size: 16px;">Power Source: 115 VAC</span></li>
            <li><span style="font-size: 16px;">Compatible Pump Head: <br> GA, GB, GJ, CA</span></li>
        </ul><p></p>
        <a itemprop="url" href="/category/dp-415aa" class="more" title="DP-415A.A"> More Details</a>
        
        
    </div>
    
 
  <div class="product" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
         
        <a itemprop="url" href="/category/ga-series" class="photo">
          <img itemprop="image" src="https://s3.amazonaws.com/zcom-media/sites/a0i0L00000VJ0SJQA1/media/mediamanager/GA_Series_new.png" alt="GA" series="" title="GA"></a>
          <h2 itemprop="name" class="title">
            <a itemprop="url" href="/category/ga-series" class="url" title="GA" series=""> GA Series </a></h2>
        <p itemprop="description" class="description"></p><ul>            
            <li><span style="font-size: 16px;">Max Flow: 0.134 GPM</span></li>
            <li><span style="font-size: 16px;">Max pressure: 300 PSI</span></li>
            <li><span style="font-size: 16px;">Drive Mounts: A, B, C, SE, E, 2, 4</span></li>
            
        </ul><p></p>
        <a itemprop="url" href="/category/ga-series" class="more" title="GA" series=""> More Details</a>
        
        
    </div>
    
 
  <div class="product" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
         
        <a itemprop="url" href="/category/gaf-series" class="photo">
          <img itemprop="image" src="https://s3.amazonaws.com/zcom-media/sites/a0i0L00000VJ0SJQA1/media/mediamanager/GAF_Series_new.png" alt="GAF" series="" title="GAF"></a>
          <h2 itemprop="name" class="title">
            <a itemprop="url" href="/category/gaf-series" class="url" title="GAF" series=""> GAF Series </a></h2>
        <p itemprop="description" class="description"></p><ul>
            <li><span style="font-size: 16px;">High Differential Pressure</span></li>            
            <li><span style="font-size: 16px;">Max Flow: 0.134 GPM</span></li>
            <li><span style="font-size: 16px;">Max pressure: 300 PSI</span></li>
            <li><span style="font-size: 16px;">Drive Mounts: SE</span></li>
        </ul><p></p>
        <a itemprop="url" href="/category/gaf-series" class="more" title="GAF" series=""> More Details</a>
        
        
    </div>
    
 
  <div class="product" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
         
        <a itemprop="url" href="/category/gah-series" class="photo">
          <img itemprop="image" src="https://s3.amazonaws.com/zcom-media/sites/a0i0L00000VJ0SJQA1/media/mediamanager/GAH_Series_new.png" alt="GAH" series="" title="GAH"></a>
          <h2 itemprop="name" class="title">
            <a itemprop="url" href="/category/gah-series" class="url" title="GAH" series=""> GAH Series </a></h2>
        <p itemprop="description" class="description"></p><ul>  
            <li><span style="font-size: 16px;">High Pressure</span></li>
            <li><span style="font-size: 16px;">Max Flow: 0.134 GPM</span></li>
            <li><span style="font-size: 16px;">Max pressure: 5000 PSI</span></li>
            <li><span style="font-size: 16px;">Drive Mounts: A, B, C, SE, E, 2, 4</span></li>
        </ul><p></p>
        <a itemprop="url" href="/category/gah-series" class="more" title="GAH" series=""> More Details</a>
        
        
    </div>
    
 
  <div class="product" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
         
        <a itemprop="url" href="/category/gb-series" class="photo">
          <img itemprop="image" src="https://s3.amazonaws.com/zcom-media/sites/a0i0L00000VJ0SJQA1/media/mediamanager/GB_Series_new.png" alt="GB" series="" title="GB"></a>
          <h2 itemprop="name" class="title">
            <a itemprop="url" href="/category/gb-series" class="url" title="GB" series=""> GB Series </a></h2>
        <p itemprop="description" class="description"></p><ul>            
            <li><span style="font-size: 16px;">Max Flow: 1.7 GPM</span></li>
            <li><span style="font-size: 16px;">Max pressure: 300 PSI</span></li>
            <li><span style="font-size: 16px;">Drive Mounts: A, E, 6, LE</span></li>
        </ul><p></p>
        <a itemprop="url" href="/category/gb-series" class="more" title="GB" series=""> More Details</a>
        
        
    </div>
    
 
  <div class="product" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
         
        <a itemprop="url" href="/category/gc-series" class="photo">
          <img itemprop="image" src="https://s3.amazonaws.com/zcom-media/sites/a0i0L00000VJ0SJQA1/media/mediamanager/GC_and_GD_Series_new.png" alt="GC" series="" title="GC"></a>
          <h2 itemprop="name" class="title">
            <a itemprop="url" href="/category/gc-series" class="url" title="GC" series=""> GC Series </a></h2>
        <p itemprop="description" class="description"></p><ul>
            <li><span style="font-size: 16px;">High Pressure</span></li>            
            <li><span style="font-size: 16px;">Max Flow: 3.7 GPM</span></li>
            <li><span style="font-size: 16px;">Max pressure: 1500 PSI</span></li>
            <li><span style="font-size: 16px;">Drive Mounts: E, 6</span></li>
        </ul><p></p>
        <a itemprop="url" href="/category/gc-series" class="more" title="GC" series=""> More Details</a>
        
        
    </div>
    
 
  <div class="product" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
         
        <a itemprop="url" href="/category/gd-series" class="photo">
          <img itemprop="image" src="https://s3.amazonaws.com/zcom-media/sites/a0i0L00000VJ0SJQA1/media/mediamanager/GC_and_GD_Series_new.png" alt="GD" series="" title="GD"></a>
          <h2 itemprop="name" class="title">
            <a itemprop="url" href="/category/gd-series" class="url" title="GD" series=""> GD Series </a></h2>
        <p itemprop="description" class="description"></p><ul>            
            <li><span style="font-size: 16px;">Max Flow: 3.7 GPM</span></li>
            <li><span style="font-size: 16px;">Max pressure: 1500 PSI</span></li>
            <li><span style="font-size: 16px;">Drive Mounts: E, 4, 6</span></li>
        </ul><p></p>
        <a itemprop="url" href="/category/gd-series" class="more" title="GD" series=""> More Details</a>
        
        
    </div>
    
 
  <div class="product" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
         
        <a itemprop="url" href="/category/gj-series" class="photo">
          <img itemprop="image" src="https://s3.amazonaws.com/zcom-media/sites/a0i0L00000VJ0SJQA1/media/mediamanager/GJ_Series_new.png" alt="GJ" series="" title="GJ"></a>
          <h2 itemprop="name" class="title">
            <a itemprop="url" href="/category/gj-series" class="url" title="GJ" series=""> GJ Series </a></h2>
        <p itemprop="description" class="description"></p><ul>            
            <li><span style="font-size: 16px;">Max Flow: 1.8 GPM</span></li>
            <li><span style="font-size: 16px;">Max pressure: 300 PSI</span></li>
            <li><span style="font-size: 16px;">Drive Mounts: A, B, E, 2,4,6, SE, LE</span></li>
        </ul><p></p>
        <a itemprop="url" href="/category/gj-series" class="more" title="GJ" series=""> More Details</a>
        
        
    </div>
    
 
  <div class="product" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
         
        <a itemprop="url" href="/category/glh-series" class="photo">
          <img itemprop="image" src="https://s3.amazonaws.com/zcom-media/sites/a0i0L00000VJ0SJQA1/media/mediamanager/GLH_Series_new.png" alt="GLH" series="" title="GLH"></a>
          <h2 itemprop="name" class="title">
            <a itemprop="url" href="/category/glh-series" class="url" title="GLH" series=""> GLH Series </a></h2>
        <p itemprop="description" class="description"></p><ul>
            <li><span style="font-size: 16px;">High Pressure</span></li>            
            <li><span style="font-size: 16px;">Max Flow: 7 GPM</span></li>
            <li><span style="font-size: 16px;">Max pressure: 1500 PSI</span></li>
            <li><span style="font-size: 16px;">Drive Mounts: E, K, 6, 8</span></li>
        </ul><p></p>
        <a itemprop="url" href="/category/glh-series" class="more" title="GLH" series=""> More Details</a>
        
        
    </div>
    
 
    </div>


</div>
    {% endblock %}

 






