

{% block footer %}

    <div id="footer">
<div class="content">
  <div class="footer-top-left"><p class="footer-div-heading"><a href="https://www.elementsearch.com/support/about-us">About Us</a></p>
   
  </div>
  <div class="footer-top-left"><p class="footer-div-heading"><a href="https://www.elementsearch.com/support/contact">Contact Us</a></p></div>
  <div class="footer-top-left terms-and-conditions">
    <p class="footer-div-heading">Terms &amp; Conditions</p>
    <p><a href="https://www.elementsearch.com/duc/tos.pdf">General Terms Condition </a> </p>
    <p><a href="#">International Returns Policy</a> </p>
    <p><a href="#">International Order Policy</a></p>
  </div>

   <div class="footer-top-left">
    <p class="footer-div-heading">Contact With Us</p>
	<p class="social-media">
 
 
	</p>
  </div>

  <div class="footer-top-left">
    <p class="footer-div-heading">Secure Checkout </p>
    <div class="verified-cart">
{% comment %} <a href="#" target="_blank"><amp-img><img src="/static/siteseal_sf_3_h_l_m.png" width="131" height="32" alt="Verified Cart"></amp-img></a><br> {% endcomment %}
      <amp-img> <img src="/static/images/visa-icon.png" width="40" height="26" alt="Visa Cart"></amp-img>
      <amp-img> <img src="/static/images/mastercard-icon.png" width="40" height="26" alt="Mastercard Cart"></amp-img>
      <amp-img> <img src="/static/images/amex-icon.png" width="40" height="26" alt="Amex Cart"></amp-img> </div>
  </div>
</div>
<div class="copyright">© 2024 by <a href="https://www.elementsearch.com/">Elementsearch</a> - All Right Reserved</div>
</div>       
{% endblock %}