

$color1: #0B1B39;
$color2: #173F75;
$color3: hwb(192 29% 49%);
$color4: #789690;
$color5: #BFD48D;

.select-category {
  margin-bottom: 5px;

  .tab-title {
    text-align: center;
    padding: 8px 10px;
    color: #fff;
    display: block;
    font-weight: bold;
    background: #13213c;
  }

  a {
    color: #428bca;
    font-size: 16px;
    &:hover {
      text-decoration: none;
    } 
  }

  .title {
    background: linear-gradient(#676767, #2b2b2b);
    text-align: center;
    padding: 4px 10px;
    font-size: 20px;
    color: #fff;
    margin-bottom: 3px;
    border-radius: 5px;
  }

  a {
    color: #428bca;
    display: block;
    text-decoration: none;
    padding: 12px;
    cursor: pointer;
    line-height: 16px;
    border-bottom: solid 1px #c2deec;
  }



  .tab-title1,
  .tab-title2 {
    text-align: center;
    padding: 8px 10px;
    color: #fff;
    display: block;
    font-weight: bold;
    background: #0b1b39;
    margin: 0px;
  }
}
.nagigation-bar {
  border: solid 1px #c2deec;
  margin: 0px;
  padding: 0px;
  list-style: none;
  background: darken(#f5f5f5, 5%);
  .has-child > ul{
    display: none;
  }
  .l1 {
    border: solid 1px #c2deec;
    margin: 0px;
    padding: 0px;
    list-style: none;
    
  }

  .l2 {
    display: none;
    padding-left: 0px;
    background: #fafafa;
    margin: 3px;
    list-style: none;
    a {
      color: #333;
    }
  }
  .l3 {
    list-style: none;
    padding-left: 0;
    background: darken(#f5f5f5, 5%);
  } 

  .has-child.active-nav > ul{
    display: block;
  }

 
  .active-nav .l2 {
    display: block;
  }
  .has-child > a:after {
    content: " ▼";
    font-size: 12px;
    float: right;
  }
  .has-child.active-nav  > a:after {
    content: "▲";
    font-size: 12px;
    float: right;
  }
}
